<section class="images-list">
    <div class="container">
        <h1>Images List</h1>
        <categories (chosenCategory)='onCategoryChoice($event)'></categories>
        <p></p>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col" *ngFor="let image of (images| sortByCategory: currentCategory)">
                <div class="demo-card-square mdl-card mdl-shadow--2dp image-card">
                    <div class="mdl-card__title mdl-card--expand" *ngIf="image.url; else imagePath">
                        <img src="{{image.url}}" alt="">
                    </div>
                    <ng-template  #imagePath>
                        <div class="mdl-card__title mdl-card--expand">
                            <img src="{{imagesRootPath + image.category + '/' + image.fileName}}" alt="">
                        </div>
                    </ng-template>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a  class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" [routerLink]="['/detail', image.id]">
                            Details
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="delete(image)">
                            delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







