.categories h4{
    display: inline-block;
    vertical-align: middle;
}

.categories-list{
    display: inline-block;
    padding-top: 23px;
    vertical-align: middle;
}

.categories-list li{
    display: inline-block;
    cursor: pointer;
}