<section class="categories">
  <h4>Categories:</h4>
  <ul class="demo-list-item mdl-list categories-list">
      <li class="mdl-list__item">
          <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised categories__btn"
                  (click)="choiceCategory($event, 'mdl-button--raised', '.categories-list button')">
              all
          </button>
      </li>
       <li class="mdl-list__item" *ngFor="let category of categories">
           <div class="wrapper">
               <button class="mdl-button mdl-js-button mdl-button--primary categories__btn"
                       (click)="choiceCategory($event, 'mdl-button--raised', '.categories-list button')">
                   {{category.name}}
               </button>
           </div>
       </li>
  </ul>
</section>
