<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a class="mdl-layout-title main-title" routerLink="/list">Gallery App</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Pages</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/list">Images list</a>
            <a class="mdl-navigation__link" routerLink="/search">Search</a>
            <a class="mdl-navigation__link" routerLink="/new">New</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>


