<div class="add-image">
    <div class="container">
        <h1>Add new image</h1>
        <form class="add-image-form" (submit)="submit()">
            <fieldset>
                <div class="mdl-textfield mdl-js-textfield">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="image.imageName" placeholder="Name" class="mdl-textfield__input" required>
                    <span class="error-msg" [hidden]="name.valid || name.untouched">Please, fill the field!</span>
                </div>
            </fieldset>
            <fieldset>
                <div class="mdl-textfield mdl-js-textfield">
                    <input type="text" name="description" [(ngModel)]="image.imageDescription" placeholder="Description" class="mdl-textfield__input">
                </div>
            </fieldset>
            <fieldset>
                <div class="mdl-textfield mdl-js-textfield">
                    <input type="text" name="url" #url="ngModel" [(ngModel)]="image.imageUrl" placeholder="http://" class="mdl-textfield__input" required>
                    <span class="error-msg" [hidden]="url.valid || url.untouched">Please, fill the field!</span>
                </div>
            </fieldset>
            <fieldset class="category-choice" *ngIf="categories">
                <p>Choice category:</p>
                <ng-select [options]="categoriesOptions" (selected)="onSingleSelected($event)"></ng-select>
            </fieldset>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
</div>