.image{
    text-align: center;
}

.image-detail{
    padding-top: 80px;
    padding-bottom: 100px;
}

.image-detail h2{
    margin-bottom: 20px;
    text-align: center;
}

.image-detail .image{
    margin-bottom: 30px;
}

.image-detail img {
    max-width: 100%;
    height: auto;
}

.description{
    text-align: left;
}

.image-detail .description h4{
    text-align: center;
}

.image__controls{
    padding-top: 40px;
}

.edit-btn{
    margin-right: 20px;
}

.image__name{
    display: inline-block;
}

.image__name.editable,
.image__description.editable{
    border: 1px solid dodgerblue;
    outline: none;
}

.update-status{
    margin-top: 20px;
    color: darkseagreen;
}