<section *ngIf="image" class="image-detail">
    <div class="container">
        <div class="image">
            <h2 #nameContainer class="image__name">{{image.name}}</h2>
            <div *ngIf="image.url; else imagePath">
                <img src="{{image.url}}" alt="">
            </div>
            <ng-template  #imagePath>
                <img src="{{imagesRootPath + image.category + '/' + image.fileName}}" alt="">
            </ng-template>
            <div class="description">
                <h4>Image Info:</h4>
                <p><b>Resolution:</b> {{image.resolution}}</p>
                <span><b>Description:</b></span>
                <p #descriptionContainer class="image__description">{{image.description}}</p>
            </div>
            <div class="image__controls">
                <button (click)="editContent()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored edit-btn">
                    Edit
                </button>
                <button #saveBtn class="mdl-button mdl-js-button mdl-button--raised" disabled (click)="imageUpdate()">
                    Save
                </button>
                <p *ngIf="changesSaved" class="update-status">Changes saved!</p>
            </div>
        </div>
    </div>
</section>