/* You can add global styles to this file, and also import other style files */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.mdl-layout__drawer-button:focus{
    outline: none;
}

.main-title{
    color: white;
    text-decoration: none;
}

.image-card{
    display: inline-block;
    width: 100%;
    text-align: left;
}

.mdl-card__title{
    height: 248px;
}

.image-card img{
    max-width: 100%;
    height: auto;
}

input{
    outline: none;
}

.error-msg{
    position: absolute;
    left: 0;
    bottom: -5px;
    font-size: 12px;
    line-height: 12px;
    color: firebrick;
}